<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} CodeBook</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

    <nav>
      <div class="nav-wrapper fixed blue">
        <a href="/" class="brand-logo" style="padding:3px">CodeBook</a>
        <ul class="right hide-on-med-and-down">
              <span > <a href='{% url 'filter' %}'>Filter</a></span>
            <span > <a href='{% url 'leaderboard' %}'>Leaderboard</a></span>
          {% if request.user.is_authenticated %}
            <span ><a href='{% url 'profile' request.user %}'>{{user}}</a></span>
            <span> <a href="{% url 'auth_logout' %}">Logout</a> </span>

          {% else %}
            <span> <a href="{% url 'auth_login' %}">Login</a> </span>
          {% endif %}
        </ul>
      </div>
    </nav>


{% block content %}

    <div class="parallax-container">
      <div class="parallax"><img src="{% static 'app/img/parallax1.jpg' %}"></div>
        <div class="center"><h2 class="white-text">Welcome Folks!</h2></div>
        <div class="row center white-text">
          <div class="input-field col s6 offset-s3">
            <input id="user_search" type="text" class="validate" name='user_search'>
            <label for="user_search">Search </label>
          </div>
        </div>
    </div>
    <div id="institute_list" class="row">

    </div>
    <div class="row center">
      <div class="input-field col s6 offset-s3">
        <input id="institute_search" type="text" class="validate" name='institute_search'>
        <label for="institute_search">Search Institute</label>
      </div>
    </div>
    {% endblock %}

        <footer>
            <p>&copy;  {{ year }} - My Django Application</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery.autocomplete.js' %}"></script>

    <script src="{% static 'app/scripts/materialize.js' %}"></script>
    <script src="{% static 'app/scripts/my.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
